.loader {
    text-align: center;
    width: 100%;
    img {
        width: 50px;
    }
}

.loaderPng {
    width: 100%;
    height: 350px;
    img {
        position: relative;
        left: 0%;
        animation-duration: 3s;
        animation-name: loading;
        animation-iteration-count: infinite;
    }
}

@keyframes loading {
    from,
    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
    90%,
    to,

    0% {
        width: 0%;
        left: 0%
    }

    1% {
        width: 0.3%;
        left: 0.5%;
    }

    2% {
        width: 0.6%;
        left: 1%;
    }

    3% {
        width: 0.9%;
        left: 1.5%;
    }

    4% {
        width: 1.2%;
        left: 2%;
    }

    5% {
        width: 1.5%;
        left: 2.5%;
    }

    6% {
        width: 1.8%;
        left: 3%;
    }

    7% {
        width: 2.1%;
        left: 3.5%;
    }

    8% {
        width: 2.4%;
        left: 4%;
    }

    9% {
        width: 2.7%;
        left: 4.5%;
    }

    10% {
        width: 3%;
        left: 5%;
    }

    11% {
        width: 3.3%;
        left: 5.5%;
    }

    12% {
        width: 3.6%;
        left: 6%;
    }

    13% {
        width: 3.9%;
        left: 6.5%;
    }

    14% {
        width: 4.2%;
        left: 7%;
    }

    15% {
        width: 4.5%;
        left: 7.5%;
    }

    16% {
        width: 4.8%;
        left: 8%;
    }

    17% {
        width: 5.1%;
        left: 8.5%;
    }

    18% {
        width: 5.4%;
        left: 9%;
    }

    19% {
        width: 5.7%;
        left: 9.5%;
    }

    20% {
        width: 6%;
        left: 10%;
    }

    21% {
        width: 6.3%;
        left: 10.5%;
    }

    22% {
        width: 6.6%;
        left: 11%;
    }

    23% {
        width: 6.9%;
        left: 11.5%;
    }

    24% {
        width: 7.2%;
        left: 12%;
    }

    25% {
        width: 7.5%;
        left: 12.5%;
    }

    26% {
        width: 7.8%;
        left: 13%;
    }

    27% {
        width: 8.1%;
        left: 13.5%;
    }

    28% {
        width: 8.4%;
        left: 14%;
    }

    29% {
        width: 8.7%;
        left: 14.5%;
    }

    30% {
        width: 9%;
        left: 15%;
    }

    31% {
        width: 9.3%;
        left: 15.5%;
    }

    32% {
        width: 9.6%;
        left: 16%;
    }

    33% {
        width: 9.9%;
        left: 16.5%;
    }

    34% {
        width: 10.2%;
        left: 17%;
    }

    35% {
        width: 10.5%;
        left: 17.5%;
    }

    36% {
        width: 10.8%;
        left: 18%;
    }

    37% {
        width: 11.1%;
        left: 18.5%;
    }

    38% {
        width: 11.4%;
        left: 19%;
    }

    39% {
        width: 11.7%;
        left: 19.5%;
    }

    40% {
        width: 12%;
        left: 20%;
    }

    41% {
        width: 12.3%;
        left: 20.5%;
    }

    42% {
        width: 12.6%;
        left: 21%;
    }

    43% {
        width: 12.9%;
        left: 21.5%;
    }

    44% {
        width: 13.2%;
        left: 22%;
    }

    45% {
        width: 13.5%;
        left: 22.5%;
    }

    46% {
        width: 13.8%;
        left: 23%;
    }

    47% {
        width: 14.1%;
        left: 23.5%;
    }

    48% {
        width: 14.4%;
        left: 24%;
    }

    49% {
        width: 14.7%;
        left: 24.5%;
    }

    50% {
        width: 15%;
        left: 25%;
    }

    51% {
        width: 15.3%;
        left: 25.5%;
    }

    52% {
        width: 15.6%;
        left: 26%;
    }

    53% {
        width: 15.9%;
        left: 26.5%;
    }

    54% {
        width: 16.2%;
        left: 27%;
    }

    55% {
        width: 16.5%;
        left: 27.5%;
    }

    56% {
        width: 16.8%;
        left: 28%;
    }

    57% {
        width: 17.1%;
        left: 28.5%;
    }

    58% {
        width: 17.4%;
        left: 29%;
    }

    59% {
        width: 17.7%;
        left: 29.5%;
    }

    60% {
        width: 18%;
        left: 30%;
    }

    61% {
        width: 18.3%;
        left: 30.5%;
    }

    62% {
        width: 18.6%;
        left: 31%;
    }

    63% {
        width: 18.9%;
        left: 31.5%;
    }

    64% {
        width: 19.2%;
        left: 32%;
    }

    65% {
        width: 19.5%;
        left: 32.5%;
    }

    66% {
        width: 19.8%;
        left: 33%;
    }

    67% {
        width: 20.1%;
        left: 33.5%;
    }

    68% {
        width: 20.4%;
        left: 34%;
    }

    69% {
        width: 20.7%;
        left: 34.5%;
    }

    70% {
        width: 21%;
        left: 35%;
    }

    71% {
        width: 21.3%;
        left: 35.5%;
    }

    72% {
        width: 21.6%;
        left: 36%;
    }

    73% {
        width: 21.9%;
        left: 36.5%;
    }

    74% {
        width: 22.2%;
        left: 37%;
    }

    75% {
        width: 22.5%;
        left: 37.5%;
    }

    76% {
        width: 22.8%;
        left: 38%;
    }

    77% {
        width: 23.1%;
        left: 38.5%;
    }

    78% {
        width: 23.4%;
        left: 39%;
    }

    79% {
        width: 23.7%;
        left: 39.5%;
    }

    80% {
        width: 24%;
        left: 40%;
    }

    81% {
        width: 24.3%;
        left: 40.5%;
    }

    82% {
        width: 24.6%;
        left: 41%;
    }

    83% {
        width: 24.9%;
        left: 41.5%;
    }

    84% {
        width: 25.2%;
        left: 42%;
    }

    85% {
        width: 25.5%;
        left: 42.5%;
    }

    86% {
        width: 25.8%;
        left: 43%;
    }

    87% {
        width: 26.1%;
        left: 43.5%;
    }

    88% {
        width: 26.4%;
        left: 44%;
    }

    89% {
        width: 26.7%;
        left: 44.5%;
    }

    90% {
        width: 27%;
        left: 45%;
    }

    91% {
        width: 27.3%;
        left: 45.5%;
    }

    92% {
        width: 27.6%;
        left: 46%;
    }

    93% {
        width: 27.9%;
        left: 46.5%;
    }

    94% {
        width: 28.2%;
        left: 47%;
    }

    95% {
        width: 28.5%;
        left: 47.5%;
    }

    96% {
        width: 28.8%;
        left: 48%;
    }

    97% {
        width: 29.1%;
        left: 48.5%;
    }

    98% {
        width: 29.4%;
        left: 49%;
    }

    99% {
        width: 29.7%;
        left: 49.5%;
    }

    to {
        width: 30%;
        left: 50%;
    }
  }