@import "../../App.scss";

.Home {
    .title {
        color: white;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        text-shadow: black 4px 3px;
        margin-top: 40%;
        @media screen and (min-width: $md) and (max-width: $lg) {
            margin-top: 20%;
        }
        @media screen and (min-width: $lg) {
            margin-top: 12%;
        }
    }
    .homescreen {
        margin: 0;
    }
    .news {
        margin-bottom: 50px;
        h2 {
            color: $second-color;
            font-weight: bold;
            font-size: 34px;
            text-align: center;
            text-shadow: black 0.5px 0.5px;
        }
        .card-container {
            padding: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }
    .scans {
        margin-bottom: 50px;
        h2 {
            color: $second-color;
            font-weight: bold;
            font-size: 34px;
            text-align: center;
        }
        .card-container {
            padding: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }
    .cta {
        text-align: center;
        margin-top: 20px;
        a {
            text-decoration: none;
            color: white;
            background-color: $main-color;
            padding: 10px 20px;
        }
    }
}