@import "../../App.scss";

.Scans {
    .title {
        color: white;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        margin-top: 12%;
    }
    .container {
        display: flex;
        .left {
            flex: 30%;
            .card-container {
                padding: 20px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
        }
        .right {
            flex: 70%;
            .card-container {
                padding: 20px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
        }
    }
}