@import "../../App.scss";

.Scans {
    margin-top: 150px;
    h1 {
        color: $second-color;
        font-weight: bold;
        font-size: 34px;
        text-align: center;
    }
    .card-container {
        padding: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}