@import "../../App.scss";

.header {
    background-color: $five-color;
    box-shadow: 0px 5px 5px $main-color;
    position: fixed;
    text-align: center;
    z-index: 1;
    width: 100%;
    top: 0;
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style-type: none;
            display: inline-block;
            cursor: pointer;
            padding: 20px;
            a {
                text-decoration: none;
                color:  $main-color;
                font-weight: bold;
                width: 100%;
                padding: 20px;
                &:hover {
                  color: $second-color;
                }
            }
            .active {
              color: $second-color;
            }
        }
        .logo {
            position: relative;
            cursor: default;
            &:hover {
                background-color: transparent;
            }
            img {
                position: absolute;
                top: 5px;
                left: 0;
                width: 70px;
            }
        }

    }
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }

  .bounceIn {
    animation-duration: 2s;
    animation-name: bounceIn;
  }
