@import "../../App.scss";

.card {
    width: 31%;
    box-shadow: 5px 5px 5px $main-color;
    margin: 0 15px;
    margin-bottom: 25px;
    background-color: $second-color;
    a {
        text-decoration: none;
        color: inherit;
    }
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    &-content {
        padding: 10px;
        .date {
            margin: 0;
            text-align: right;
        }
    }
}