$main-color: #f6bfbc;
$second-color: #e4d2d8;
$third-color: #e9dfe5;
$fourd-color: #fdeff2;
$five-color: #fef4f4;

$font: 'Kaushan Script', cursive;

body {
    background-color: $five-color;
    font-family: $font;
}

.parallax-outer {
    z-index: -1;
}